* {
  text-decoration: none;
  color: black;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  font-family: "Visby Round CF", "Open Sans";
}
:root {
  font-family: "Visby Round CF", "Open Sans";
}
.text--center {
  text-align: center;
  width: 100%;
}
button {
  padding: 1rem;
  cursor: pointer;
}
button:hover {
  color: red;
}
.showable {
  display: none;
}
/* Implementing theme from dribbble by mikSkuza (KosmoTime) */
.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: hsla(220, 23%, 97%, 1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13vw;
  min-width: 150px;
  padding: 0 4rem;
  height: 100vh;
  background-color: white;
  position: relative;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.02);
}

.sidebar__category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.3rem;
}

.sidebar__category-title {
  display: flex;
  justify-content: space-between;
  color: rgb(100, 100, 100);
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-family: "Visby Round CF", "Open Sans";
  font-size: 1.2rem;
  margin: 0.05rem;
  padding: 0.3rem;
  font-weight: 500;
}
.sidebar__category__item {
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.1rem;
  margin-left: 2rem;
  width: inherit;
  display: flex;
}
.wrapper--hi .sidebar__category__item-label {
  cursor: pointer;
}
.sidebar__category__item--active {
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.1rem;
  margin-left: 2rem;
  display: flex;
  font-weight: 600;
}
.content {
  margin: 0 10%;
  width: fill;
}
.sidebar__category__item:hover {
  background-color: hsla(220, 23%, 97%, 1);
}
.sidebar__category__item:focus {
  background-color: rgb(240, 240, 240);
}

.list__title {
  color: hsla(254, 68%, 55%, 1);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.confirm__wrapper {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: +12;
  background: rgba(0, 0, 0, 0.075);
}

.confirm__form__prompt {
  font-size: 1.2rem;
}

.confirm__form {
  background-color: white;
  text-align: center;
  width: 10vw;
  min-width: 150px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.05);
  margin: auto;
}

.confirm__button--yes {
  background-color: rgba(255, 115, 0, 0.9);
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  width: 40%;
  cursor: pointer;
}
.confirm__button--no {
  background-color: rgb(255, 234, 167);
  padding: 0.5rem;
  color: grey;
  border-radius: 0.5rem;
  font-weight: 600;
  width: 40%;
  cursor: pointer;
}
.confirm__button--yes:hover {
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.confirm__button--no:hover {
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.list__title-2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.list__delete {
  position: absolute;
  right: 0;
  z-index: +1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  top: 0;
}
.home__title {
  color: hsla(254, 68%, 55%, 1);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.home__text--center {
  text-align: center;
  font-size: 1.1rem;
}
.task {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 1rem;
  padding: 1rem;
}

.logo {
  padding: 0.3rem;
  font-size: 2rem;
  padding: 2rem 0.3rem;
  margin-bottom: 5rem;
  font-family: "Visby Round CF";
  font-size: 2rem;
  color: rgba(255, 115, 0, 0.9);
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}

.logo__icon {
  width: 2rem;
  height: 2rem;
  padding-right: 0.6rem;
}

.icon {
  margin: auto 0;
}
.task__button--date {
  /* width: 2rem; */
  padding: 0 0.2rem;
}
.icon > .wrapper > img {
  object-fit: cover;
}

.user__profile-pic {
  height: inherit;
}

.user__wrapper--profile-pic {
  height: 2rem;
  width: 2rem;
  padding: 0 1rem;
  opacity: 0.5;
}
.user--available,
.user--unavailable {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  position: relative;
  width: fill;
  min-height: 2rem;
  max-height: 2rem;
  height: fit-content;
  z-index: +3;
  padding: 1rem;
  margin-bottom: 1rem;
}

.user--available__text {
  font-weight: normal;
  width: 100%;
}

.user__sign-out {
  color: red;
  width: 100%;
  margin: 0;
}

.user--available:hover {
  background-color: hsla(220, 23%, 97%, 1);
}
.user--unavailable {
  text-align: center;
  justify-content: center;
}
.user--unavailable:hover {
  background-color: hsla(220, 23%, 97%, 1);
}

.button {
  width: 100%;
}

.start,
.stop {
  font-size: 1rem;
  font-weight: 500;
}
.start:hover {
  color: rgba(24, 158, 64, 0.9);
}
.timer {
  font-size: 2rem;
  width: 100%;
}
.timer__clock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: inherit;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.timer__clock__input {
  width: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.hideable {
  width: 100%;
  height: fit-content;
}
.hideable-content {
  display: none;
}
.hideable__icon--front {
  width: 1rem;
  object-fit: cover;
  padding-right: 0.5rem;
}
.active {
  display: block !important;
}
.color-picker {
  display: none;
  position: absolute;
  width: 100vw;
  margin-top: 1.5rem;
  height: 100vh;
}
.color-picker__wrapper {
  position: absolute;
  z-index: +50;
  height: fit-content;
  width: fit-content;
}

.screen-cover {
  display: none;
  top: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sidebar__category-title:hover {
  background-color: hsla(220, 23%, 97%, 1);
}

.active > .sidebar__category-title {
  background-color: rgb(250, 250, 250);
  font-weight: 600;
  color: hsla(254, 68%, 55%, 1);
}

.completed {
  text-decoration: line-through;
}

.task {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.task__title {
  margin-left: 1rem;
}
.task__input {
  width: 100%;
}
.tasks__completed-title {
  color: rgb(150, 150, 150);
}
.tasks__completed-title:hover {
  color: rgb(100, 100, 100);
}
.task__delete {
  width: 1rem;
  cursor: pointer;
}
.tasks {
  overflow-y: auto;
  max-height: 75vh;
}
.sidebar__category__item-label {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.175rem;
  margin-right: 0.8rem;
  background-color: blueviolet;
  display: inline-block;
}
.task__wrapper {
  display: flex;
}
.hoverable-content {
  display: none;
}
.completed .delete {
  text-decoration: none !important;
}

.button {
  text-align: center;
}
.blue {
  background-color: #33b6ff;
}
.red {
  background-color: red;
}
.yellow {
  background-color: #f4c625;
}
.purple {
  background-color: hsla(254, 68%, 55%, 1);
}
.green {
  background-color: #8cf425;
}
.orange {
  background-color: #ffad33;
}
.spinner {
  z-index: +100;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}
.spinner-bird {
  --bird-height: 3rem;
  height: var(--bird-height);
  width: var(--bird-height);
  margin-bottom: 0.3rem;
}
.spinner > .wrapper > .spinner-icn {
  height: var(--bird-height);
  width: var(--bird-height);
  animation: spin infinite 2s linear;
  margin-bottom: var(--bird-height);
}
.login__wrapper {
  position: absolute;
  background-color: hsla(220, 23%, 97%, 1);
  height: 100%;
  width: 100%;
  z-index: +50;
  overflow: hidden;
  display: flex;
}
.login__form__input {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  margin: 0.5rem auto;
}
.login__form__title {
  text-align: center;
  color: #ff8c28;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.login__title {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  top: 0;
  font-size: 4rem;
  margin: 1.5rem;
  opacity: 0.8;
}
.login__title > img {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}
.login__title > div {
  margin-right: 3rem;
  color: #ff8c28;
  font-weight: 600;
}
.login__form__input > input {
  width: 100%;
  font-family: sans-serif;
  background-color: rgb(253, 253, 253);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0.3rem 0;
}
.signup__form__input {
  border-radius: 5px;
  width: 40%;
  max-width: 100%;
}
.signup__form__input > input {
  width: 100%;
  font-family: sans-serif;
  background-color: rgb(253, 253, 253);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.signup__form__input.first-name {
  width: 55%;
}
.signup__form__input.last-name {
  width: 35%;
}

.login__form {
  width: 15%;
  min-width: 250px;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.login__button--submit {
  width: 100%;
  background-color: orange;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.wrapper--hi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}
.wrapper--between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.wrapper--around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.wrapper--even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.button--primary {
  background-color: rgba(255, 115, 0, 0.9);
  font-size: 1rem;
  color: white;
  padding: 1rem;
  width: 40%;
  font-weight: 600;
  border-radius: 0.5rem;
  text-align: center;
}
.button--primary:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.button--secondary {
  background-color: orange;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30%;
  font-weight: 600;
  text-align: center;
}
.button--secondary:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.login__button__wrapper {
  width: 100%;
  margin-top: 1rem;
}
.wrapper--fs {
  display: flex;
  color: inherit;
  font-style: inherit;
  font-size: inherit;
  justify-content: flex-start;
}
.wrapper--w100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.wrapper--wh100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.wrapper--horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.login__message--success {
  color: green;
  width: 100%;
  text-align: center;
}
.login__message--failure {
  color: red;
  width: 100%;
  text-align: center;
}
.list__screen {
  width: 100%;
  height: 80%;
}
.list__wrapper {
  position: relative;
}
.onboarding__wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: +5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.onboarding__display__wrapper {
  z-index: +30;
  width: 50%;
  height: 80%;
  background-color: white;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding__toggle {
  color: rgb(155, 155, 155);
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
}
.onboarding__toggle:hover {
  color: black;
}
.onboarding__display__wrapper .wrapper--horizontal {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.onboarding__display__wrapper .wrapper--horizontal .wrapper {
  height: 100%;
  width: 100%;
}
.onboarding__display__title {
  font-size: 2.5rem;
  color: #ff8c28;
  text-align: center;
  margin-bottom: 1.3rem;
  margin-top: 3rem;
  font-weight: 600;
}
.onboarding__display__image > img {
  height: 100%;
  max-width: 50vw;
  display: block;
  margin: 0 auto;
}
.onboarding__display__image {
  height: 75%;
}
.onboarding__display__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.onboarding__display__button--previous {
  display: block;
}
.onboarding__display__button--next,
.onboarding__display__button--previous {
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
}
.onboarding__display__button--next:hover,
.onboarding__display__button--previous:hover {
  font-weight: 600;
}

.onboarding__display__button--next > img,
.onboarding__display__button--previous > img {
  height: 0.7rem;
  padding: 0 0.5rem;
}
/* div:focus {
  border: 1px solid black;
} */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Berkshire Swash";
  src: url("assets/fonts/BerkshireSwash-Regular.woff2") format("woff2"),
    url("assets/fonts/BerkshireSwash-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-DemiBold.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-BoldOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-Bold.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-DemiBoldOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-DemiBoldOblique.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-ExtraLight.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-ExtraBoldOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-ExtraBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-ExtraLightOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-ExtraLightOblique.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-Heavy.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-HeavyOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-HeavyOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-Medium.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-LightOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-LightOblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-Light.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-MediumOblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-MediumOblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-Regular.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("assets/fonts/VisbyRoundCF-Oblique.woff2") format("woff2"),
    url("assets/fonts/VisbyRoundCF-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
